<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Fit Track App</title>

    <!-- <link rel="stylesheet" type="text/css" href="style.css">  -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  </head>
  <body>

    <div id='container'>
        <h1>Welcome to FitTrack</h1>

        <h2> {{ labels }}</h2>
        <h2> {{ data }}</h2>

        <script>
            var user          = "{{ user|safe }}"
            var dates         = "{{ labels|safe }}".split(',')
            var weigh_results = "{{ data|safe }}".split(',')     
            console.log(dates)
            console.log(weigh_results)
            console.log(typeof dates);
            console.log(typeof weigh_results);           
        </script>
    </div>

    <div class="chart-container" style="padding-bottom: 190px;height:20vh; width:40vw">
      <canvas id="myChart"></canvas>
      <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: dates,
                datasets: [{
                    label: user, 
                    //backgroundColor: 'rgb(0, 50, 132)',
                    hoverBorderColor: 'rgb(0, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: weigh_results
                }]
            },

            // Configuration options go here
            options: {
              title: {
                display: true,
                text: 'Weigh by Weigh In Date - Fit Track'
              }, 
              scales: {
                xAxes: [{
                  offset: true,
                }]
              }
            }
        });
      </script>
    </div>
    
    <div>
      <h1>Power BI Embedded Demo !</h1>
      <iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=fb39bfef-f235-4298-887a-5a1fc860a697&autoAuth=true&ctid=f5e8862b-5513-407a-9f7d-b67b33a9001a&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXVzLW5vcnRoLWNlbnRyYWwtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
    </div>  
  </body>
</html>